<!-- Home page -->

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
               type="text/javascript" charset="utf-8"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e9906c47f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/css/style.css">
    <title>Pipe Dreams!</title>
    <style>
      body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

      #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
    </style>
  </head>
  <body>
    <!-- NAVBAR AREA -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a href="/loginSignUp"><i class="fa fa-fw fa-user"></i> Login/Sign Up</a>
    <span class="navbar-brand mb-0 h1"> <p id="headerTitle">Pipe Dreams!</p></span>
    <i class="fas fa-share-square shareBtn">share</i>
  </div>
</nav>

<!-- BUTTON AREA -->
<div class="btnCardFlex">
<div class="d-grid gap-2">
<button type="button" class="btn btn-success btn-lg custombutton1"><i class="fa fa-fw fa-search searchIcon"> </i>Find Gas</button>
<button type="button" class="btn btn-danger btn-lg custombutton"><i class="fas fa-heart heartIcon"></i>Favorite Locations</i></button>
</div>
<!-- Card AREA -->
<div id="centerCard">
<div class="card newCard">
  <img src="./public/images/jean-christophe-gougeon-t8bDFvkhNQY-unsplash.jpg" class="card-img-top imageAjustments" alt="image of gas station">
   <div class="card-body">
    <p class="card-text">Report a Price Change</p>
  </div>
</div>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  

<!-- Chat Area -->
<ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
  </body>

  <script src="http://localhost:3001/socket.io/socket.io.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
      var socket = io();
    
      var messages = document.getElementById('messages');
      var form = document.getElementById('form');
      var input = document.getElementById('input');
    
      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });
    
      socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
</html>
