body {
  background-color: #011F26;
}

/* --------------------------------HOME PAGE STYLES-------------------------------------------------------------------------- */


/* style for login icon in Nav Bar */
a {
  color: #F23005;
}

/* style for nav bar */
.bg-light {
  position: relative;
  padding: 0 0 5px 0;
  background-color: #F2CB05 !important;
  color: white;
  text-shadow: rgb(10, 10, 10) 1px 1px 1px;
  font-size: large;

}

#headerTitle {
  position: relative;
  top: 10px;
  color: red;
  font-weight: bolder;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.shareBtn {
  color: #F23005;
  text-shadow: rgb(5, 5, 5) 1px 1px 1px 1px;
}

.shareBtn:hover {
  color: red;
}

/* style for Find Gas Button */
.custombutton1 {
  background-color: rgba(219, 117, 34, 0.966);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

/* style for Favorite Locations button */
.custombutton {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;

}

/* hover effects for Favorite Locations */
.custombutton:hover {
  background-color: red;
}

.heartIcon {
  position: relative;
  right: 20px;

}

.searchIcon {
  position: relative;
  right: 65px;
}

/* style for Report a price drop card */
div.card.newCard:hover {
  background-color: yellow;
  color: red;
}

div.card {
  align-items: center;
  top: 10px;
  background-color: #F23005;
  box-shadow: black 1px 3px 3px 3px;
  color: white;
  text-shadow: black 2px 3px 1px;
  font-weight: bolder;
  max-width: 800px;
  max-height: 400px;
  margin-top: 20px;
  font-size: 25px;

}

/* adjust card with gas station image */
#centerCard {

  display: flex;
  justify-content: center;
  align-items: center;
}

.newCard {
  padding: 15px;
}

.imageAjustments {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  max-height: 300px;
}

/* -------------------------------- Sign Up ONLY Page------------------------------------------------------------------- */
.signup {
  display: flex;
  color: white;
  max-width: 800px;
  max-height: 500px;
  padding: 30px;
  position: relative;
  left: 680px;
  top: 80px;
}

/* --------------------- LOG IN OR SIGN UP PAGE--------------------------------------- */
.classLogin :hover {
  color: red;
}

.classLogin {
  position: fixed;
  left: 800px;
  top: 200px;
}

.classSignup {
  position: fixed;
  left: 1000px;
  bottom: 641px;

}

#middle {
  position: fixed;
  left: 950px;
  color: red;
  font-size: 40px;
  top: 210px;

}

/* ----------------Log in only page-------------------- */
#labelColor {
  color: white;
}

#passwordColor {
  color: white;
}





.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 400px;
  top: 100px;

}

/* ---------------------------------------------login and sign up **FORMS**----------------------------------------- */
/* #header effects all nav bar headers EXCEPT for home page nav bar */
#header {
  color: #F23005;
  display: block;
  position: relative;
  left: 750px;
  text-shadow: black;

}


h2 {
  padding: 25px;
  color: yellow;

}



.forms {
  display: block;

}