body{
  background-color: #011F26;
}

/* --------------------------------HOME PAGE STYLES-------------------------------------------------------------------------- */


/* style for login and search icons in Nav Bar */
a{
  color: #F23005;
}
/* style for nav bar */
.bg-light{
  position: relative;
  padding: 0 0 5px 0;
  background-color: #F2CB05 !important;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  font-size: large;
  
}
#headerTitle{
  color: red;
  font-size: xx-large;
  
}

.shareBtn{
  color: #011F26;
}

.shareBtn:hover{
  color: red;
}
/* style for Find Gas Button */
.custombutton1{
  align-items: center;
  top: 10px;
  display: block;
  margin: 20px;
  background-color: #F28705;
  box-shadow: black 1px 3px 3px 3px;
  text-shadow: black 2px 3px 1px;
  font-weight: bolder;
  max-width: 475px;
  position: relative;
  left: 471px;
  margin-top: 50px;
}
/* style for Favorite Locations button */
.custombutton{
  align-items: center;
  top: 10px;
  display: block;
  margin: 20px;
  background-color: #F23D4C;
  box-shadow: black 1px 3px 3px 3px;
  text-shadow: black 2px 3px 1px;
  font-weight: bolder;
  max-width: 475px;
  position: relative;
  left: 471px;
  

}
/* hover effects for Favorite Locations */
.custombutton:hover{
 background-color: red;
}

/* style for Report a price drop card */
div.card.newCard:hover{
  background-color: yellow;
  color: red;
}

div.card{
  align-items: center;
  top: 10px;
  background-color: #F23005;
  box-shadow: black 1px 3px 3px 3px;
  color: white;
  text-shadow: black 2px 3px 1px;
  font-weight: bolder;
  max-width: 800px;
  max-height: 400px;
  margin-top: 20px;
  font-size: 25px;
  
}
/* adjust card with gas station image */
#centerCard{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.newCard{
  padding: 15px;
}

.imageAjustments{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  max-height: 300px;
}
/* -------------------------------- User Login Page------------------------------------------------------------------ */


.signup{
  display: flex;
  color: white;
  /* max-width: 300px; */
  /* padding: 30px; */
}

.login{
  display: flex;
  color: white;
  /* max-width: 300px; */
  /* padding: 30px; */
}

.inboxIcon{
  display: block;
  color: #F28705;
  /* padding:20px; */
  position: relative;
  left: 200px;
  top: 25px;
  
  /* box-shadow: thistle 2px 2px 2px 1px; */
  /* border: thistle; */
  
}

#mailboxText{
  color: white;
  position: relative;
  left: 210px;
  top: 16px;
  /* left: 38px;
  bottom: 30px; */
  
}

.shareIcon{
  color: white;
  /* padding: 20px; */
  display: block;
  /* align-items: center;
  /* left: 100px; */
  position: relative; 
  left: 440px;

  bottom: 100px;
  /* left: 600px; */ 
}


#shareBtn{
  color: white;
  position: relative;
  /* left: 620px;
  bottom: 180px; */
  left: 450px;
  bottom: 100px;
}


h2{
  padding: 25px;
  color: yellow;
  
}

#header{
  color: #F23005;
  display: block;
  position: relative;
  left: 155px;
  text-shadow: black;
}


.forms{
  display: block;

}
/* .iconDiv{
  max-width: 500px;
  width: 500px;
} */

/* ------------------------------------------Search for gas near me page-------------------------- */
#header{
  position: relative;
  left: 560px;
}

#searchBar{
  position: relative;
  top: 100px;
  left: 500px;
  max-width: 400px;
  
}

#gpsIcon{
  color: blue;
  position: relative;
  top: 200px;
  left: 500px;
}

#favIcon{
  color: red;
  position: relative;
  left: 100px;
  top: 300px;
}
#gpsTxt{
color:white;
position: relative;
left: 100px;
}